
*.xml
*.iml
CMakeLists.txt
gmon.out
CMakeLists.txt
CMakeLists.txt
*.txt
CMakeLists.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/reply/cache-v2-9edc965215d482f420da.json
*.json
*.cmake
*.cbp
*.bin
*.exe
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.log
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/progress.marks
